<!DOCTYPE html>
<html>

<head>
    <title>Generador de emails para phishing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS via BootstrapCDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color: lightgray;">
    
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold text-body-emphasis">Generador de emails phishing</h1>
        <div class="col-lg-5 mx-auto">
            <form method="POST" class="form-inline">
                <input type="text" class="form-control" name="input_text" placeholder="Enter some text">
                <button type="submit" class="btn btn-primary">Generar</button>
            </form>
        </div>
        
    </div>
    <div class="col-lg-6 mx-auto">
        {% if output_text %}
        <p class="lead mb-4">{{ output_text }}</p>
        {% endif %}
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+KzCk5BdPtF+to8xM6B5z6W5l7/5VDnR2RxaG+K1wjUmplr"
        crossorigin="anonymous"></script>

</body>

</html>